
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg-color:#3A4D39;
    --primary-color:#A594F9;
    --secundary-color:#5C8374;
    --font:"Space Mono", monospace;
}

body